<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Contacts App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Show these links only when authenticated -->
        <ng-container *ngIf="isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacts" routerLinkActive="active">My Contact Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/new-contact" routerLinkActive="active">New Contact</a>
          </li>
        </ng-container>
      </ul>

      <!-- Authentication links on the right -->
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        </ng-container>
        <ng-container *ngIf="isAuthenticated">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" (click)="logout()">Logout</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
